[submodule "tree-sitter-awa5_rs"]
	path = tree-sitter-awa5_rs
	url = https://github.com/liraymond04/tree-sitter-awa5_rs.git
[submodule "tree-sitter-awatalk"]
	path = tree-sitter-awatalk
	url = https://github.com/liraymond04/tree-sitter-awatalk.git
